<div class="middel">
    <h2>Student Form:</h2>
    <div class=" form">
        <form [formGroup]="studentForm" action="" >

            <label>Name:</label>
            <input formControlName="name" type="text" name="" id="" value="">
            <div *ngIf="studentForm.controls['name']?.touched && studentForm.controls['name']?.invalid ">
                <p class="error" *ngIf="studentForm.controls['name']?.errors?.['required']">Name is required</p>
                <p class="error" *ngIf="studentForm.controls['name']?.errors?.['minlength']">Name Should contain atleast 3 char</p>
            </div>
            <br>

            <label>Father Name:</label>
            <input formControlName="fathername" type="text" name="" id="">
            <div *ngIf="studentForm.controls['fathername']?.touched && studentForm.controls['fathername']?.invalid ">
                <p class="error" *ngIf="studentForm.controls['fathername']?.errors?.['required']">Fathername is required</p>
                <p class="error" *ngIf="studentForm.controls['fathername']?.errors?.['minlength']">Fathername Should contain atleast 3 char</p>
            </div>
            <br>

            <label>Mobile Number:</label>
            <input formControlName="number"  type="number" name="" id="">
            <div *ngIf="studentForm.controls['number']?.touched && studentForm.controls['number']?.invalid ">
                <p class="error" *ngIf="studentForm.controls['number']?.errors?.['required']">Number is required</p>
                <p class="error" *ngIf="studentForm.controls['number']?.errors?.['minlength']">Number Should contain atleast 3 char</p>
            </div>
            <br>

            <label>Class:</label>
            <input formControlName="class" type="text" name="" id="">
            <div *ngIf="studentForm.controls['class']?.touched && studentForm.controls['class']?.invalid ">
                <p class="error" *ngIf="studentForm.controls['class']?.errors?.['required']">class is required</p>
                <p class="error" *ngIf="studentForm.controls['class']?.errors?.['minlength']">class Should contain atleast 3 char</p>
            </div>
            <br>

                <button [disabled]=" studentForm.invalid" (click)="submit()" type="submit" class="btn btn-primary">Submit</button>
                <button  type="reset" class="btn btn-danger">Reset</button>
        </form>
    </div>

</div>

<table style="box-shadow: 0px 0px 10px black; border-radius: 10px;" class=" table table-striped ">
    <thead>
        <tr>
            <th>Name</th>
            <th>Father Name</th>
            <th>Mobile Number</th>
            <th>Class</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let value of studentData, let i = index">
            <td>{{value.name}}</td>
            <td>{{value.fathername}}</td>
            <td>{{value.number}}</td>
            <td>{{value.class}}</td>
            <td><button (click)="remove(i)" class="btn btn-danger">Remove</button></td>
        </tr>
    </tbody>
</table>
