<div class="middel">
    <h2>Student Form:</h2>
    <div class=" form">
        <form [formGroup]="studentForm" action="">

            <label>Name:</label>
            <input formControlName="name" type="text" name="" id="" value="">
            <br>

            <label>Father Name:</label>
            <input formControlName="fathername" type="text" name="" id="">
            <br>

            <label>Mobile Number:</label>
            <input formControlName="number" type="number" name="" id="">
            <br>

            <label>Class:</label>
            <input formControlName="class" type="text" name="" id="">
            <br>

                <button (click)="submit()" type="submit" class="btn btn-primary">Submit</button>
                <button  type="reset" class="btn btn-danger">Reset</button>
        </form>
    </div>

</div>

<table style="box-shadow: 0px 0px 10px black; border-radius: 10px;" class=" table table-striped ">
    <thead>
        <tr>
            <th>Name</th>
            <th>Father Name</th>
            <th>Mobile Number</th>
            <th>Class</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let value of studentData, let i = index">
            <td>{{value.name}}</td>
            <td>{{value.fathername}}</td>
            <td>{{value.number}}</td>
            <td>{{value.class}}</td>
            <td><button (click)="remove(i)" class="btn btn-danger">Remove</button></td>
        </tr>
    </tbody>
</table>
