label{
    display: inline-block;
    width: 120px;
}

input{
    border: 0px solid black;
    border-radius: 10px;

}

.middel{
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

*{
    margin: 8px;
}

.form{
    box-shadow: 0px 0px 5px black;
    border-radius: 10px;
}

