<select [(ngModel)]="column" name="" id="">
    <option  value="name">Name</option>
    <option value="city">City</option>
    <option value="phone">Phone</option>
</select>

<select [(ngModel)]="order" name="" id="">
    <option value="asc">Ascending</option>
    <option value="desc">Desending</option>
</select>
<button (click)="sorted()" class="btn btn-primary">Sort</button>


<input [(ngModel)]="keyword" type="text" name="" id="">
<button (click)="filter()" class="btn btn-primary">Filter</button>

<br>

<table  border="2" class="table table-strip">
    <thead>
        <tr>
            <th *ngFor="let key of keys">{{key}}</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let student of students">
            <td *ngFor="let key of keys">{{student[key]}}</td>
            <td><button (click)="delete(student.id)" class="btn btn-danger">Delete</button></td>
         
        </tr>
    </tbody>
</table>


<ul class="pagination">

    <li (click)="pagination(1)" class="page-item"><a class="page-link" >1</a></li>
    <li (click)="pagination(2)" class="page-item"><a class="page-link">2</a></li>
    <li (click)="pagination(3)" class="page-item"><a class="page-link">3</a></li>

  </ul>