<div class="login">
    <form action="">
        <div>
            <div>
                <label for="">Name or Email:</label>
            </div>
            <div>
                <input type="type" placeholder="Enter your Name">
            </div>

            <div>
                <label for="">Password:</label>
            </div>
            <div>
                <input type="password" placeholder="Enter your Password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>