<div class="login">
    <form [formGroup]="loginForm" action="">
        <div class="">
            <div>
                <label for="">Name or Email:</label>
            </div>
            <div>
                <input formControlName="email" type="type" placeholder="Enter your Name">
            </div>

            <div>
                <label for="">Password:</label>
            </div>
            <div>
                <input formControlName="password" type="password" placeholder="Enter your Password">
            </div>
            <button (click)="submit()" type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>